body {
  margin:0px;
  box-sizing: border-box;
}

#your-page-column {
    width: 70%;
    margin: 0px auto;
    text-align: center;
}

.support {
    display: inline-block;
    background-color: #009688;
    color: white;
    padding: 1em;
    font-size: 1.2em;
    font-family: Calibri;
    margin: 4em auto;
    text-align: left;
    width: 18em;
}

.support .fa-group {
    font-size: 2.2em;
    float: left;
    margin-right: 0.3em;
}

.footer i {
    color: #E91E63;
}

.footer {
    margin: 4em auto;
    font-family: Calibri;
    font-size: 1em;
}
#yt-subscribe{
  display: none;
}

.article_title{
    font-size: 40px;
    font-weight: bold;
}
.article_title:hover{
    font-size: 40px;
    font-weight: bold;
    color: #751008;
    text-decoration: none;
}
.article_descriptiom{
    font-size: 20px;
}
.article_descriptiom:hover{
    font-size: 20px;
    color: #751008;
}

.article_img{
    -webkit-box-shadow: 3px 6px 16px 0px rgba(0,0,0,1);/*117,16,8,1*/
    -moz-box-shadow: 3px 6px 16px 0px rgba(0,0,0,1);
    box-shadow: 3px 6px 10px 0px rgba(0,0,0,1);
}
.article_author{
    font-size: 40px;
}
.article_tmp_title{
}

.article_tmp_data:hover{
    color: #751008;
    font-weight: bold;
    text-decoration: none;
}


.read_next{
    color: #751008;
}
.read_next:hover{
    color: #751008;
    font-weight: bold;
}

.temoignages_user_img{
    width: 95%;
    height: 225px;
    border-radius: 20px;

}
.temoignages_user_img:hover{
    -webkit-box-shadow: 3px 6px 16px 0px rgba(117,16,8,0.5);
    -moz-box-shadow: 3px 6px 16px 0px rgba(117,16,8,0.5);
    box-shadow: 3px 6px 16px 0px rgba(117,16,8,0.5);
}
.temoignages_text{
    font-style: italic;
    color: black;
    /*width: 95%;
    margin: auto;*/
}

.temoignages_block{
    align-items: center;
    margin-bottom: 20px;
    /*background-color: rgba(117, 16, 8 ,0.1);*/
    padding: 20px;
}

.temoignages_block:hover{
    align-items: center;
    margin-bottom: 20px;
    /*background-color: rgba(117, 16, 8 ,0.1);*/
    padding: 20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 330px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color: #751008;
}

/* Add some padding inside the card container */
.container_card {
    padding: 2px 16px;
    position: absolute;
    bottom: 40px;
}
.container-card-top{
    padding: 2px 16px;
}

.temoignage_user_name{
    font-size: 40px;
    font-weight: bold;
    color: #751008;
}

center_content{
    margin: auto
}

.formation_line{
    margin-bottom: 30px;
}
